:root {
    --primary-color: #013b82;
    --secondary-color: #4d8eaa;
    --third-color: #fff;
    --fourth-color: #000;
}

* {
    margin: 0;
    padding: 0;
}

header,
footer {
    padding: 2%;
    background: linear-gradient(0.25turn, var(--primary-color), var(--secondary-color));
}

h1,
h4 {
    color: var(--third-color)
}

footer h4 {
    text-align: center;
}

main {
    min-height: 82vh;
    padding: 2%;
    display: grid;
    grid-template-columns: 30fr 70fr;
}

.search-section,
.display-place {
    border: 2px solid var(--fourth-color);
    padding: 2%;
    width: auto;
}

.search-section {
    max-width: 350px;
}

form {
    border-bottom: 2px solid var(--secondary-color);
    padding: 5% 0;
}

.searchBtn {
    cursor: pointer;
}

.fiveDayWeather {
    display: flex;
    flex-wrap: wrap;
}

.weatherDay {
    /* border: 1px solid var(--fourth-color); */
    background: linear-gradient(0.25turn, var(--secondary-color), #056f9d);
    color: var(--third-color);
    min-width: 170px;
    padding: 2%;
    margin: 5px;
    border-radius: 5px;
    justify-content: left;
    text-align: left;
}


@media screen and (max-width: 1000px) {

    main {
        min-height: 90vh;
        grid-template-columns: auto;
    }

    .search-section,
    .display-place {
        width: auto;
    }

    .search-section {
        max-width: none;
        width: auto;
    }

    .display-place {
        width: auto;
    }

    .fiveDayWeather {
        display: grid;
        grid-template-columns: 1fr;
    }

    .weatherDay {
        width: auto;
        padding: 2%;
    }
}